<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	       					   http://www.springframework.org/schema/beans/spring-beans.xsd
	       					   http://www.springframework.org/schema/context
	       					   http://www.springframework.org/schema/context/spring-context.xsd
	       					   http://www.springframework.org/schema/aop
	       					   http://www.springframework.org/schema/aop/spring-aop.xsd
	       					   http://www.springframework.org/schema/tx
	       					   http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- datasource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring_day03" />
		<property name="user" value="root" />
		<property name="password" value="root" />
	</bean>
	<!-- dao -->
	<bean id="accountDao" class="com.itheima.dao.impl.AccountDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- service -->
	<bean id="accountService" class="com.itheima.service.impl.AccountServiceImpl">
		<property name="accountDao" ref="accountDao"></property>
	</bean>

	<!-- 事务管理 -->

	<!-- 事务管理器 -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>


	<!-- 事务详情（通知） -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="transfer" propagation="REQUIRED" isolation="DEFAULT"/>
		</tx:attributes>
	</tx:advice>


	<!-- AOP 目标类有4个连接点，切入点表达式确定的需要增强的连接点，， -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.itheima.service..*.*(..))" />
	</aop:config>
</beans>







