<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- 基本四项 -->
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/spring_day03
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">root</property>
	<!-- 配置方言 -->
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<!-- sql语句 -->
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.format_sql">true</property>
	<!-- 自动生成表 -->
	<property name="hibernate.hbm2ddl.auto">update</property>
	<!-- 本地线程绑定 -->
	<property name="hibernate.current_session_context_class">
		thread
	</property>
	<!-- 导入映射文件 -->
	<mapping resource="com/itheima/domain/User.hbm.xml" />

</session-factory>
</hibernate-configuration>